{
    "extends": "airbnb",
    "rules": {
        "linebreak-style": [
            "warn",
            "windows"
        ],
        "no-param-reassign": [
            "error",
            {
                "props": false
            }
        ],
        // allow _id from mongodb
        "no-underscore-dangle": [
            "error",
            {
                "allow": [
                    "_id"
                ]
            }
        ],
        // react eslint rules
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": true
            }
        ],
        // TODO remove when cleanup
        "react/prefer-stateless-function": [
            "off"
        ],
        "react/prop-types": [
            "off"
        ],
        "react/destructuring-assignment": [
            "off"
        ],
        "react/button-has-type": [
            "off"
        ]
    }
}